@charset 'utf-8';
/* configs
--------------------------------------------------------- */
/* -- color -- */
/* -- brand color -- */
/* -- font-size -- */
/* -- height -- */
/* mixins
--------------------------------------------------------- */
/* btn
--------------------------------------------------------- */
.btn{
	position: relative;
	display: inline-block;
	padding: 0 1.4em;
	height: 40px;
	outline: none;
	border: 0;
	background: #ccc;
	color: #fff;
	vertical-align: middle;
	text-align: center;
	white-space: nowrap;
	font-size: 1.6em;
	line-height: 40px;
	cursor: pointer;

	touch-action: manipulation;
}

.btn:link
,.btn:active
,.btn:hover
,.btn:visited{
	color: #fff;
	text-decoration: none;
}

.btn.disabled
,.btn[disabled]
,fieldset[disabled] .btn{
	opacity: .65;
	filter: alpha(opacity=65);
	cursor: not-allowed;
}

.btn .btn__icon--right{
	margin-right: -.8em;
	margin-left: .8em;
}

.btn .btn__icon--left{
	margin-right: .8em;
	margin-left: -.8em;
}

/* btn--block
--------------------------------------------------------- */
.btn--block{
	display: block;
	width: 100%;
}

/* type flat
--------------------------------------------------------- */
.btn--flat--default{
	border: solid 3px #e6e6ea;
	-webkit-border-radius: 5px;
	   -moz-border-radius: 5px;
	        border-radius: 5px;
	background-color: #e6e6ea;
	color: gray !important;

	    -ms-border-radius: 5px;
}

.btn--flat--default:link{
	background-color: #e6e6ea;
	color: gray !important;
}

.btn--flat--default:hover{
	border: solid 3px #f7f7f8;
	background-color: #f7f7f8;
}

.btn--flat--default.disabled
,.btn--flat--default[disabled]
,fieldset[disabled] .btn--flat--default{
	border-color: #e6e6ea;
	background-color: #e6e6ea;
}

.btn--flat--primary{
	border: solid 3px #fed766;
	-webkit-border-radius: 5px;
	   -moz-border-radius: 5px;
	        border-radius: 5px;
	background-color: #fed766;
	color: #fff !important;

	    -ms-border-radius: 5px;
}

.btn--flat--primary:link{
	background-color: #fed766;
	color: #fff !important;
}

.btn--flat--primary:hover{
	border: solid 3px #fedf84;
	background-color: #fedf84;
}

.btn--flat--primary.disabled
,.btn--flat--primary[disabled]
,fieldset[disabled] .btn--flat--primary{
	border-color: #fed766;
	background-color: #fed766;
}

.btn--flat--highlight{
	border: solid 3px #2ab7ca;
	-webkit-border-radius: 5px;
	   -moz-border-radius: 5px;
	        border-radius: 5px;
	background-color: #2ab7ca;
	color: #fff !important;

	    -ms-border-radius: 5px;
}

.btn--flat--highlight:link{
	background-color: #2ab7ca;
	color: #fff !important;
}

.btn--flat--highlight:hover{
	border: solid 3px #3cc4d6;
	background-color: #3cc4d6;
}

.btn--flat--highlight.disabled
,.btn--flat--highlight[disabled]
,fieldset[disabled] .btn--flat--highlight{
	border-color: #2ab7ca;
	background-color: #2ab7ca;
}

.btn--flat--action{
	border: solid 3px #fe4a49;
	-webkit-border-radius: 5px;
	   -moz-border-radius: 5px;
	        border-radius: 5px;
	background-color: #fe4a49;
	color: #fff !important;

	    -ms-border-radius: 5px;
}

.btn--flat--action:link{
	background-color: #fe4a49;
	color: #fff !important;
}

.btn--flat--action:hover{
	border: solid 3px #fe6867;
	background-color: #fe6867;
}

.btn--flat--action.disabled
,.btn--flat--action[disabled]
,fieldset[disabled] .btn--flat--action{
	border-color: #fe4a49;
	background-color: #fe4a49;
}

/* type border
--------------------------------------------------------- */
.btn--border--default{
	border: #e6e6ea solid 3px;
	-webkit-border-radius: 5px;
	   -moz-border-radius: 5px;
	        border-radius: 5px;
	background-color: #fff;
	color: gray !important;

	    -ms-border-radius: 5px;
}

.btn--border--default:link{
	background-color: #fff;
	color: gray;
}

.btn--border--default:hover{
	border: #e6e6ea solid 3px;
	background-color: #e6e6ea;
	color: #fff !important;
}

.btn--border--default.disabled:hover
,.btn--border--default[disabled]:hover
,fieldset[disabled] .btn--border--default:hover{
	border-color: #e6e6ea;
	background-color: #fff;
	color: #e6e6ea !important;
}

.btn--border--primary{
	border: #fed766 solid 3px;
	-webkit-border-radius: 5px;
	   -moz-border-radius: 5px;
	        border-radius: 5px;
	background-color: #fff;
	color: #fed766 !important;

	    -ms-border-radius: 5px;
}

.btn--border--primary:link{
	background-color: #fff;
	color: #fed766;
}

.btn--border--primary:hover{
	border: #fed766 solid 3px;
	background-color: #fed766;
	color: #fff !important;
}

.btn--border--primary.disabled:hover
,.btn--border--primary[disabled]:hover
,fieldset[disabled] .btn--border--primary:hover{
	border-color: #fed766;
	background-color: #fff;
	color: #fed766 !important;
}

.btn--border--highlight{
	border: #2ab7ca solid 3px;
	-webkit-border-radius: 5px;
	   -moz-border-radius: 5px;
	        border-radius: 5px;
	background-color: #fff;
	color: #2ab7ca !important;

	    -ms-border-radius: 5px;
}

.btn--border--highlight:link{
	background-color: #fff;
	color: #2ab7ca;
}

.btn--border--highlight:hover{
	border: #2ab7ca solid 3px;
	background-color: #2ab7ca;
	color: #fff !important;
}

.btn--border--highlight.disabled:hover
,.btn--border--highlight[disabled]:hover
,fieldset[disabled] .btn--border--highlight:hover{
	border-color: #2ab7ca;
	background-color: #fff;
	color: #2ab7ca !important;
}

.btn--border--action{
	border: #fe4a49 solid 3px;
	-webkit-border-radius: 5px;
	   -moz-border-radius: 5px;
	        border-radius: 5px;
	background-color: #fff;
	color: #fe4a49 !important;

	    -ms-border-radius: 5px;
}

.btn--border--action:link{
	background-color: #fff;
	color: #fe4a49;
}

.btn--border--action:hover{
	border: #fe4a49 solid 3px;
	background-color: #fe4a49;
	color: #fff !important;
}

.btn--border--action.disabled:hover
,.btn--border--action[disabled]:hover
,fieldset[disabled] .btn--border--action:hover{
	border-color: #fe4a49;
	background-color: #fff;
	color: #fe4a49 !important;
}

/* type rounded
--------------------------------------------------------- */
.btn--rounded--default{
	border: solid 1px #e6e6ea;
	-webkit-border-radius: 5px;
	   -moz-border-radius: 5px;
	        border-radius: 5px;
	background: #e6e6ea;
	background:    -moz-linear-gradient(top, #fcfcfd, #e9e9ec);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e6e6ea), color-stop(100%, #e9e9ec));
	background: -webkit-linear-gradient(top, #fcfcfd, #e9e9ec);
	background:      -o-linear-gradient(top, #fcfcfd, #e9e9ec);
	background:     -ms-linear-gradient(top, #fcfcfd, #e9e9ec);
	background:         linear-gradient(to bottom, #fcfcfd, #e9e9ec);
	box-shadow: 1px 1px #fff inset;
	color: gray !important;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='lighten($grad-base-color, 8%)', endColorstr='lighten($grad-base-color, 1%)',GradientType=0 );

	    -ms-border-radius: 5px;
}

.btn--rounded--default:link{
	background: #e6e6ea;
	background:    -moz-linear-gradient(top, #fcfcfd, #e9e9ec);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e6e6ea), color-stop(100%, #e9e9ec));
	background: -webkit-linear-gradient(top, #fcfcfd, #e9e9ec);
	background:      -o-linear-gradient(top, #fcfcfd, #e9e9ec);
	background:     -ms-linear-gradient(top, #fcfcfd, #e9e9ec);
	background:         linear-gradient(to bottom, #fcfcfd, #e9e9ec);
	color: gray !important;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='lighten($grad-base-color, 8%)', endColorstr='lighten($grad-base-color, 1%)',GradientType=0 );
}

.btn--rounded--default:hover{
	background: #f4f4f6;
	background:    -moz-linear-gradient(top, white, #f7f7f8);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f4f4f6), color-stop(100%, #f7f7f8));
	background: -webkit-linear-gradient(top, white, #f7f7f8);
	background:      -o-linear-gradient(top, white, #f7f7f8);
	background:     -ms-linear-gradient(top, white, #f7f7f8);
	background:         linear-gradient(to bottom, white, #f7f7f8);
	color: gray !important;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='lighten($grad-base-color, 8%)', endColorstr='lighten($grad-base-color, 1%)',GradientType=0 );
}

.btn--rounded--default.disabled:hover
,.btn--rounded--default[disabled]:hover
,fieldset[disabled] .btn--rounded--default:hover{
	border-color: #e6e6ea;
	background-color: #e6e6ea;
}

.btn--rounded--primary{
	border: solid 1px #fed766;
	-webkit-border-radius: 5px;
	   -moz-border-radius: 5px;
	        border-radius: 5px;
	background: #fed766;
	background:    -moz-linear-gradient(top, #fee28f, #fed86b);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fed766), color-stop(100%, #fed86b));
	background: -webkit-linear-gradient(top, #fee28f, #fed86b);
	background:      -o-linear-gradient(top, #fee28f, #fed86b);
	background:     -ms-linear-gradient(top, #fee28f, #fed86b);
	background:         linear-gradient(to bottom, #fee28f, #fed86b);
	box-shadow: 1px 1px #fff inset;
	color: #fff !important;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='lighten($grad-base-color, 8%)', endColorstr='lighten($grad-base-color, 1%)',GradientType=0 );

	    -ms-border-radius: 5px;
}

.btn--rounded--primary:link{
	background: #fed766;
	background:    -moz-linear-gradient(top, #fee28f, #fed86b);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fed766), color-stop(100%, #fed86b));
	background: -webkit-linear-gradient(top, #fee28f, #fed86b);
	background:      -o-linear-gradient(top, #fee28f, #fed86b);
	background:     -ms-linear-gradient(top, #fee28f, #fed86b);
	background:         linear-gradient(to bottom, #fee28f, #fed86b);
	color: #fff !important;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='lighten($grad-base-color, 8%)', endColorstr='lighten($grad-base-color, 1%)',GradientType=0 );
}

.btn--rounded--primary:hover{
	background: #fede7f;
	background:    -moz-linear-gradient(top, #fee8a8, #fedf84);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fede7f), color-stop(100%, #fedf84));
	background: -webkit-linear-gradient(top, #fee8a8, #fedf84);
	background:      -o-linear-gradient(top, #fee8a8, #fedf84);
	background:     -ms-linear-gradient(top, #fee8a8, #fedf84);
	background:         linear-gradient(to bottom, #fee8a8, #fedf84);
	color: #fff !important;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='lighten($grad-base-color, 8%)', endColorstr='lighten($grad-base-color, 1%)',GradientType=0 );
}

.btn--rounded--primary.disabled:hover
,.btn--rounded--primary[disabled]:hover
,fieldset[disabled] .btn--rounded--primary:hover{
	border-color: #fed766;
	background-color: #fed766;
}

.btn--rounded--highlight{
	border: solid 1px #2ab7ca;
	-webkit-border-radius: 5px;
	   -moz-border-radius: 5px;
	        border-radius: 5px;
	background: #2ab7ca;
	background:    -moz-linear-gradient(top, #45c7d8, #2bbbce);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2ab7ca), color-stop(100%, #2bbbce));
	background: -webkit-linear-gradient(top, #45c7d8, #2bbbce);
	background:      -o-linear-gradient(top, #45c7d8, #2bbbce);
	background:     -ms-linear-gradient(top, #45c7d8, #2bbbce);
	background:         linear-gradient(to bottom, #45c7d8, #2bbbce);
	box-shadow: 1px 1px #fff inset;
	color: #fff !important;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='lighten($grad-base-color, 8%)', endColorstr='lighten($grad-base-color, 1%)',GradientType=0 );

	    -ms-border-radius: 5px;
}

.btn--rounded--highlight:link{
	background: #2ab7ca;
	background:    -moz-linear-gradient(top, #45c7d8, #2bbbce);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2ab7ca), color-stop(100%, #2bbbce));
	background: -webkit-linear-gradient(top, #45c7d8, #2bbbce);
	background:      -o-linear-gradient(top, #45c7d8, #2bbbce);
	background:     -ms-linear-gradient(top, #45c7d8, #2bbbce);
	background:         linear-gradient(to bottom, #45c7d8, #2bbbce);
	color: #fff !important;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='lighten($grad-base-color, 8%)', endColorstr='lighten($grad-base-color, 1%)',GradientType=0 );
}

.btn--rounded--highlight:hover{
	background: #38c3d6;
	background:    -moz-linear-gradient(top, #5acddd, #3cc4d6);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #38c3d6), color-stop(100%, #3cc4d6));
	background: -webkit-linear-gradient(top, #5acddd, #3cc4d6);
	background:      -o-linear-gradient(top, #5acddd, #3cc4d6);
	background:     -ms-linear-gradient(top, #5acddd, #3cc4d6);
	background:         linear-gradient(to bottom, #5acddd, #3cc4d6);
	color: #fff !important;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='lighten($grad-base-color, 8%)', endColorstr='lighten($grad-base-color, 1%)',GradientType=0 );
}

.btn--rounded--highlight.disabled:hover
,.btn--rounded--highlight[disabled]:hover
,fieldset[disabled] .btn--rounded--highlight:hover{
	border-color: #2ab7ca;
	background-color: #2ab7ca;
}

.btn--rounded--action{
	border: solid 1px #fe4a49;
	-webkit-border-radius: 5px;
	   -moz-border-radius: 5px;
	        border-radius: 5px;
	background: #fe4a49;
	background:    -moz-linear-gradient(top, #fe7272, #fe4f4e);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fe4a49), color-stop(100%, #fe4f4e));
	background: -webkit-linear-gradient(top, #fe7272, #fe4f4e);
	background:      -o-linear-gradient(top, #fe7272, #fe4f4e);
	background:     -ms-linear-gradient(top, #fe7272, #fe4f4e);
	background:         linear-gradient(to bottom, #fe7272, #fe4f4e);
	box-shadow: 1px 1px #fff inset;
	color: #fff !important;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='lighten($grad-base-color, 8%)', endColorstr='lighten($grad-base-color, 1%)',GradientType=0 );

	    -ms-border-radius: 5px;
}

.btn--rounded--action:link{
	background: #fe4a49;
	background:    -moz-linear-gradient(top, #fe7272, #fe4f4e);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fe4a49), color-stop(100%, #fe4f4e));
	background: -webkit-linear-gradient(top, #fe7272, #fe4f4e);
	background:      -o-linear-gradient(top, #fe7272, #fe4f4e);
	background:     -ms-linear-gradient(top, #fe7272, #fe4f4e);
	background:         linear-gradient(to bottom, #fe7272, #fe4f4e);
	color: #fff !important;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='lighten($grad-base-color, 8%)', endColorstr='lighten($grad-base-color, 1%)',GradientType=0 );
}

.btn--rounded--action:hover{
	background: #fe6362;
	background:    -moz-linear-gradient(top, #fe8c8b, #fe6867);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fe6362), color-stop(100%, #fe6867));
	background: -webkit-linear-gradient(top, #fe8c8b, #fe6867);
	background:      -o-linear-gradient(top, #fe8c8b, #fe6867);
	background:     -ms-linear-gradient(top, #fe8c8b, #fe6867);
	background:         linear-gradient(to bottom, #fe8c8b, #fe6867);
	color: #fff !important;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='lighten($grad-base-color, 8%)', endColorstr='lighten($grad-base-color, 1%)',GradientType=0 );
}

.btn--rounded--action.disabled:hover
,.btn--rounded--action[disabled]:hover
,fieldset[disabled] .btn--rounded--action:hover{
	border-color: #fe4a49;
	background-color: #fe4a49;
}

/* type 3d
--------------------------------------------------------- */
.btn--3d--default{
	-webkit-border-radius: 5px;
	   -moz-border-radius: 5px;
	        border-radius: 5px;
	background: #e6e6ea;
	box-shadow: 0 3px #bcbcc7;
	color: #666 !important;

	    -ms-border-radius: 5px;
}

.btn--3d--default:link{
	background: #e6e6ea;
	color: #666 !important;
}

.btn--3d--default:hover{
	background: #f4f4f6;
	color: #666 !important;
}

.btn--3d--default.disabled:hover
,.btn--3d--default[disabled]:hover
,fieldset[disabled] .btn--3d--default:hover{
	border-color: #666;
	background-color: #e6e6ea;
}

.btn--3d--primary{
	-webkit-border-radius: 5px;
	   -moz-border-radius: 5px;
	        border-radius: 5px;
	background: #fed766;
	box-shadow: 0 3px #fec31a;
	color: #fff !important;

	    -ms-border-radius: 5px;
}

.btn--3d--primary:link{
	background: #fed766;
	color: #fff !important;
}

.btn--3d--primary:hover{
	background: #fede7f;
	color: #fff !important;
}

.btn--3d--primary.disabled:hover
,.btn--3d--primary[disabled]:hover
,fieldset[disabled] .btn--3d--primary:hover{
	border-color: #fff;
	background-color: #fed766;
}

.btn--3d--highlight{
	-webkit-border-radius: 5px;
	   -moz-border-radius: 5px;
	        border-radius: 5px;
	background: #2ab7ca;
	box-shadow: 0 3px #1d7e8b;
	color: #fff !important;

	    -ms-border-radius: 5px;
}

.btn--3d--highlight:link{
	background: #2ab7ca;
	color: #fff !important;
}

.btn--3d--highlight:hover{
	background: #38c3d6;
	color: #fff !important;
}

.btn--3d--highlight.disabled:hover
,.btn--3d--highlight[disabled]:hover
,fieldset[disabled] .btn--3d--highlight:hover{
	border-color: #fff;
	background-color: #2ab7ca;
}

.btn--3d--action{
	-webkit-border-radius: 5px;
	   -moz-border-radius: 5px;
	        border-radius: 5px;
	background: #fe4a49;
	box-shadow: 0 3px #f90301;
	color: #fff !important;

	    -ms-border-radius: 5px;
}

.btn--3d--action:link{
	background: #fe4a49;
	color: #fff !important;
}

.btn--3d--action:hover{
	background: #fe6362;
	color: #fff !important;
}

.btn--3d--action.disabled:hover
,.btn--3d--action[disabled]:hover
,fieldset[disabled] .btn--3d--action:hover{
	border-color: #fff;
	background-color: #fe4a49;
}

/* type size
--------------------------------------------------------- */
.btn--jumbo{
	height: 56px;
	font-size: 2em;
	line-height: 56px;
}

.btn--large{
	height: 48px;
	font-size: 1.8em;
	line-height: 48px;
}

.btn--small{
	height: 32px;
	font-size: 1.4em;
	line-height: 32px;
}

.btn--tiny{
	height: 24px;
	font-size: 1.4em;
	line-height: 24px;
}
