/* configs
--------------------------------------------------------- */
@import "configs";

/* mixins
--------------------------------------------------------- */
@import "mixins/opacity";
@import "mixins/border-radius";
@import "mixins/gradient";
@import "mixins/buttons";

/* btn
--------------------------------------------------------- */
.btn{
	display: inline-block;
	color: $var-white;
	border: 0;
	text-align: center;
	vertical-align: middle;
	touch-action: manipulation;
	cursor: pointer;
	background: $var-gray-f;
	padding: 0 1.4em;
  	height: $var-btn-default-height;
  	line-height: $var-btn-default-height;
	font-size: $var-btn-default-font-size;
	outline: none;
	position: relative; 
	white-space:nowrap;

	&:link,&:active,&:hover,&:visited{
		color: $var-white;
		text-decoration: none;
	}

	&.disabled,
	&[disabled],
	fieldset[disabled] & {
	cursor: not-allowed;
	@include opacity(.65);
	}

  .btn__icon--right{
    margin-left: 0.8em;
    margin-right: -0.8em;
  }
  .btn__icon--left{
    margin-right: 0.8em;
    margin-left: -0.8em;
  }

}

/* btn--block
--------------------------------------------------------- */
.btn--block{
  display: block;
  width: 100%;
}


/* type flat
--------------------------------------------------------- */
.btn--flat--default{
	@include button-flat-color($var-gray-c, $var-brand-default);
}

.btn--flat--primary{
	@include button-flat-color($var-white, $var-brand-primary);
}

.btn--flat--highlight{
	@include button-flat-color($var-white, $var-brand-highlight);
}

.btn--flat--action{
	@include button-flat-color($var-white, $var-brand-action);
}


/* type border
--------------------------------------------------------- */
.btn--border--default{
	@include button-border-color($var-brand-default, $var-gray-c, $var-white);
}

.btn--border--primary{
	@include button-border-color($var-brand-primary, $var-brand-primary, $var-white);
}

.btn--border--highlight{
	@include button-border-color($var-brand-highlight, $var-brand-highlight, $var-white);
}

.btn--border--action{
	@include button-border-color($var-brand-action, $var-brand-action, $var-white);
}


/* type rounded
--------------------------------------------------------- */
.btn--rounded--default{
	@include button-rounded-color($var-gray-c, $var-brand-default);
}

.btn--rounded--primary{
	@include button-rounded-color($var-white, $var-brand-primary);
}

.btn--rounded--highlight{
	@include button-rounded-color($var-white, $var-brand-highlight);
}

.btn--rounded--action{
	@include button-rounded-color($var-white, $var-brand-action);
}


/* type 3d
--------------------------------------------------------- */
.btn--3d--default{
	@include button-3d-color($var-gray-b, $var-brand-default);
}

.btn--3d--primary{
	@include button-3d-color($var-white, $var-brand-primary);
}

.btn--3d--highlight{
	@include button-3d-color($var-white, $var-brand-highlight);
}

.btn--3d--action{
	@include button-3d-color($var-white, $var-brand-action);
}


/* type size
--------------------------------------------------------- */
.btn--jumbo{
  @include button-size($var-btn-jumbo-font-size, $var-btn-jumbo-height);
}

.btn--large{
  @include button-size($var-btn-large-font-size, $var-btn-large-height);
}

.btn--small{
  @include button-size($var-btn-small-font-size, $var-btn-small-height);
}

.btn--tiny{
  @include button-size($var-btn-small-font-size, $var-btn-tiny-height);
}